@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --cor-fundo: #141414;
    --cor-card: #1e1e1e;
    --cor-acento: #e50914;
    --acento-hover: #f6121d;
    --cor-texto: #ffffff;
    --cor-texto-suave: #AAAAAA;
    --sombra: 0 10px 20px rgba(0, 0, 0, 0.2)
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.main-container {
    max-width: 1400px;
    margin: 40px auto;
    padding: 0 40px;
}

.main-container header {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}

h1 {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
}

#add-book-form {
    display: flex;
    gap: 15px;
    background-color: var(--cor-card);
    padding: 20px;
    border-radius: 6px;
}

#add-book-form input{
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 6px;
    color: var(--cor-texto);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--cor-texto);
    font-weight: 400;
    box-shadow: var(--sombra);
}

#add-book-form button {
    background-color: #e50914;
    border: none;
    border-radius: 6px;
    padding: 5px 15px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#add-book-form button:hover {
    transform: scale(1.1);
    box-shadow: var(--sombra);
}

#catalog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.book-card {
    position: relative;
    background-color: var(--cor-card);
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: none;
    border: 1px solid transparent;
}

.book-card:hover {
    transform: scale(1.08);
    box-shadow: var(--sombra);
    border: 1px solid var(--cor-acento);
}

.book-cover {
    width: 100%;
    height: 330px;
    object-fit: cover;
    display: block;
}

.book-info {
    padding: 15px;
    background-color: var(--cor-card);
}

.book-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-author {
    font-size: 0.9rem;
    color: var(--cor-texto-suave);
}

.book-card .remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.book-card:hover .remove-btn {
    opacity: 1;
}